.toolbar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.cs-inline {
    display: flex;
    align-items: center;
}

.jc-center {
    justify-content: center;
}

.p-15 {
    padding: 15px;
}